/* &display=swap */
@import "null.css";
@import url("https://fonts.googleapis.com/css?family=Taviraj:regular,700,700italic,900,900italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Murecho:400,600,900&display=swap");

/* @font-face {
	font-family: "Oswald";
	src: url(../fonts/Oswald-Regular.woff2) format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Oswald";
	src: url(../fonts/Oswald-Medium.woff2) format("woff2"), url("../fonts/Oswald-Medium.woff") format("woff");
	font-weight: 500;
	font-style:normal;
	font-display: swap;
}
@font-face {
	font-family: "Oswald";
	src: url(../fonts/Oswald-Bold.woff2) format("woff2"), url("../fonts/Oswald-Bold.woff") format("woff");
	font-weight: 700;
	font-style:normal;
	font-display: swap;
}
@font-face {
	font-family: "Taviraj";
	src: url(../fonts/Taviraj-Regular.woff2) format("woff2"), url("../fonts/Taviraj-Regular.woff") format("woff");
	font-weight: 400;
	font-style:normal;
	font-display: swap;
}
@font-face {
	font-family: "Taviraj";
	src: url(../fonts/Taviraj-Bold.woff2) format("woff2"), url("../fonts/Taviraj-Bold.woff") format("woff");
	font-weight: 700;
	font-style:normal;
	font-display: swap;
}
@font-face {
	font-family: "Taviraj";
	src: url(../fonts/Taviraj-BoldItalic.woff2) format("woff2"), url("../fonts/Taviraj-BoldItalic.woff") format("woff");
	font-weight: 700;
	font-style:italic;
	font-display: swap;
}
@font-face {
	font-family: "Taviraj";
	src: url(../fonts/Taviraj-Black.woff2) format("woff2"), url("../fonts/Taviraj-Black.woff") format("woff");
	font-weight: 900;
	font-style:normal;
	font-display: swap;
}
@font-face {
	font-family: "Taviraj";
	src: url(../fonts/Taviraj-BlackItalic.woff2) format("woff2"), url("../fonts/Taviraj-BlackItalic.woff") format("woff");
	font-weight: 900;
	font-style:italic;
	font-display: swap;
} */


body{
	font-family: Oswald;
	font-size: 20px;
}
h1{
	font-size: 30px;
	text-transform: uppercase;
	line-height: 2;
	text-align: center;
}
h2{
	font-size: 25px;
	line-height: 2.5;
	text-align: center;
	color: #f80f41;
}
.img{
	text-align: center;
}
li{
line-height: 1.5;
}
p{
	line-height: 1.5;
}
.link{
	text-decoration: underline;
	line-height: 1.5;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.menu{
	text-align: center;
}
.abbreviation{
	font-family: Taviraj;
	font-weight: 900;
	font-style: italic;
}
.autor-comment{
	text-decoration: line-through;
}
#about{
	font-weight: 700;
}

.termin{
	font-style: italic;
}
.lusid-termin{
	font-weight: 700;
}
footer{
	text-align: center;
}
footer > p{
	text-transform: uppercase;
}